.borde{
    border: 2px solid rgba(85, 85, 85, 0.2);
    padding: 30px 30px;
    border-radius: 10px;
    color: #000000;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.barra{
    margin-top: 20px;
}

.color_header{
    background-color: rgb(203, 215, 226);
}

.tabla_custom table {
    border-collapse: collapse !important;
    width: 100%;
}

.bordes{
    border: 1px solid #000000;
    padding: 12px 16px;
    text-align: left;
    vertical-align: middle;
}