.contenedor{
    border: 2px solid rgba(85, 85, 85, 0.2);
    width: 100%;
    max-width: 450px;
    padding: 30px 40px;
    border-radius: 10px;
    color: #000000;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-40%);
}
.formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario input,
.formulario select{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
}
.formulario label{
    font-weight: bold;
    font-size: 15px;
    margin: 5px;
}

.boton{
    padding: 10px 40px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    background: #92dfdb;
    font-weight: bold;

}
.boton:hover{
    background: rgb(19, 79, 134);
    color: white;
}